// eslint-disable-next-line
.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 20px;
  color: rgb(70, 130, 130);
  margin-left: 10%;

  &__title {
    color: green;
    margin-right: 10px;
  }
}